<nav id="main-navbar" class="navbar navbar-fixed-top">
	<div class="container-fluid">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#myNavbar">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav msk-navbar navbar-capitalized">
				<li><font style="text-align: center; font-size: 17px;">{{model.user.roleType}}
						Home</font> <br>
				<font style="text-align: center; font-size: 15px;">Welcome
						{{model.user.name}}!</font></li>
			</ul>
			<ul class="nav navbar-nav navbar-right msk-navbar">
				<li><a href="#!/user/{{model.params.roleType}}/{{model.params.personId}}/edituser"><span
						class="glyphicon glyphicon-user" aria-hidden="true"></span>
						{{model.user.username}}</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-log-out"
						aria-hidden="true"></span> logout</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4 hidden-xs msk-dashboard">
			<ul class="nav nav-pills nav-stacked msk-side-bar">
				<!-- Dashboard for any user-->
				<li class="active"><a
					href="#!/user/{{model.user.roleType}}/{{model.user.personId}}"><span
						class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
						Dashboard</a></li>
				<!-- End of dashboard for any user-->

				<!-- -------------- -->
				<!-- Manage Courses -->
				<!-- -------------- -->
				<!-- Join or drop courses for students -->
				<li ng-if="model.user.roleType=='student'"><a
					href="#!/{{model.user.roleType}}/{{model.user.personId}}/course/manage"><span
						class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
						Enroll in Courses</a></li>
				<!-- End of join or drop courses for students -->

				<!-- Join or drop courses for others -->
				<li
					ng-if="model.user.roleType=='faculty' || model.user.roleType=='administrator'">
					<a
					href="#!/{{model.user.roleType}}/{{model.user.personId}}/course/manage"><span
						class="glyphicon glyphicon-edit" aria-hidden="true"></span> Manage
						Courses</a>
				</li>

				<!-- -------------------------- -->
				<!-- Manage User: Administrator -->
				<!-- -------------------------- -->
				<li ng-if="model.user.roleType=='administrator'"><a
					id="manage-users" role="button" data-toggle="collapse"
					href="!#collapseManageUsers" aria-expanded="false"
					aria-controls="collapseExample"> <span
						class="glyphicon glyphicon-chevron-right"></span> Manage Users
				</a></li>


				<div ng-if="model.user.roleType=='administrator'"
					class="collapse in" id="collapseManageUsers">
					<div class="list-group msk-list-group">
						<a
							href="#!/{{model.user.roleType}}/{{model.user.personId}}/manage/administrator"
							class="list-group-item"> <span
							class="glyphicon glyphicon-edit"></span> Manage Admins
						</a> <a
							href="#!/{{model.user.roleType}}/{{model.user.personId}}/manage/faculty"
							class="list-group-item"> <span
							class="glyphicon glyphicon-edit"></span> Manage Faculty
						</a> <a
							href="#!/{{model.user.roleType}}/{{model.user.personId}}/manage/student"
							class="list-group-item"> <span
							class="glyphicon glyphicon-edit"></span> Manage Students
						</a>
					</div>
				</div>
				<!-- End of manage users for Admin -->
			</ul>
		</div>
		
		<div class="col-sm-8 msk-user-body">
			<div class="notifications-caption">Add New
				{{model.params.widgetType}}</div>
			<div class="notifications-panel">
				<div ng-show="model.errorMessage" class="alert alert-danger"
					role="alert">
					<span
						class="glyphicon glyphicon-exclamation-sign msk-msg-glyphicon"
						aria-hidden="true"></span> <span class="sr-only">Error:</span>
					{{model.errorMessage}}
				</div>
				<div class="row">
					<div class="col-xs-3">
						<label>Name:</label>
					</div>
					<div class="col-xs-6">
						<input ng-model="widget.name" type="text" id="name"
							class="form-control" placeholder="WidgetName" />
					</div>
				</div>
				<div class="row" ng-if="model.params.widgetType=='videowidget'">
					<div class="col-xs-3">
						<label>Youtube Url:</label>
					</div>
					<div class="col-xs-6">
						<input ng-model="widget.url" type="text" id="url"
							class="form-control"
							placeholder="https://www.youtube.com/watch?v=1y6smkh6c-0" />
					</div>
				</div>
				<div class="row" ng-if="model.params.widgetType=='imagewidget'">
					<div class="col-xs-3">
						<label>Image Url:</label>
					</div>
					<div class="col-xs-6">
						<input ng-model="widget.url" type="text" id="url"
							class="form-control"
							placeholder="https://upload.wikimedia.org/wikipedia/commons/1/1b/Female_Cheetah_%28Acynonyx_jubatus%29_%288292038736%29.jpg" />
					</div>
				</div>

				<div class="row" ng-if="model.params.widgetType=='googledocwidget'">
					<div class="col-xs-3">
						<label>Google Doc Url:</label>
					</div>
					<div class="col-xs-6">
						<input ng-model="widget.url" type="text" id="url"
							class="form-control"
							placeholder="https://docs.google.com/presentation/d/1FOxcMMP8aEUjYlCoS3PyyvmOTOlha282R3umrA_fytc/edit#slide=id.g34feddff66_0_32" />
					</div>
				</div>

				<div class="row" ng-if="model.params.widgetType=='htmlwidget'">
					<div class="col-xs-3">
						<label>HTML:</label>
					</div>
					<div class="col-xs-6">
						<textarea ng-model="widget.markupText" id="markupText"
							class="form-control" placeholder="<h1>Hello CS5200</h1>">
                        </textarea>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-3"></div>
					<div class="col-xs-6">
						<a class="btn btn-danger pull-right left-margin-20"
							href="#!/{{model.params.roleType}}/{{model.params.personId}}/course/{{model.params.courseId}}/page/{{model.params.pageId}}/widget">Cancel</a>
						<a class="btn btn-primary pull-right" ng-click="model.add(widget)">Add</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>