<nav id="main-navbar" class="navbar navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#myNavbar">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right msk-navbar">
                <li><a href="#!/user/edituser/{{model.user.id}}"><span
                        class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        {{model.user.username}}</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-out"
                        aria-hidden="true"></span> logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="col-sm-8 msk-user-body">
            <div class="notifications-caption">Page Content of {{model.page.name}}</div>
            <div class="notifications-panel">
                <div ng-show="model.errorMessage" class="alert alert-danger"
                     role="alert">
                <span class="glyphicon glyphicon-exclamation-sign msk-msg-glyphicon"
                      aria-hidden="true"></span> <span class="sr-only">Error:</span>
                    {{model.errorMessage}}
                </div>

            <li ng-repeat="w in model.widgets" class="list-group-item">
                <div class="container-fluid">
                    <div class="col-sm-8">
                        <a
                            href="#!/{{model.user.roleType}}/{{model.user.id}}/course/{{course.courseId}}/page/{{p.pageId}}">
                            {{w.name}} 
                        </a>
                    </div>
                    <div class="col-sm-4" ng-if="model.user.roleType == 'faculty' || model.user.roleType == 'administrator'">
                        <a class="btn btn-primary btn-body pull-right"
                            href="#!/{{model.user.roleType}}/{{model.user.personId}}/course/{{model.course.courseId}}/page/{{p.pageId}}/widget/{{w.widgetId}}edit">Edit</a>
                    </div>
                </div>
            </li> 
            <div class="">
                <a class="btn btn-primary pull-left left-margin-40"
                           href="#!/{{model.user.roleType}}/{{model.user.personId}}/course/{{model.params.courseId}}/page">Back</a>
                           
                <a class="btn btn-primary pull-right left-margin-40"
                           href="#!/{{model.user.roleType}}/{{model.user.personId}}/course/{{model.course.courseId}}/page/{{model.page.pageId}}/widget/add">Add Widget</a>
            </div>
                        
        </div>
     </div>
 </div>