<nav id="main-navbar" class="navbar navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#myNavbar">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
        	<ul class="nav navbar-nav msk-navbar navbar-capitalized">
		    	<li><font style="text-align: center; font-size: 17px;">{{model.user.roleType}} Home</font> 
		    	<br><font style="text-align: center; font-size: 15px;">Welcome {{model.user.name}}!</font></li>
		    </ul>
            <ul class="nav navbar-nav navbar-right msk-navbar">
                <li><a href="#!/user/{{model.params.roleType}}/{{model.params.personId}}/edituser"><span
                        class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        {{model.user.username}}</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-out"
                        aria-hidden="true"></span> logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4 hidden-xs msk-dashboard">
			<ul class="nav nav-pills nav-stacked msk-side-bar">
				<!-- Dashboard for any user-->
				<li class="active"><a
					href="#!/user/{{model.user.roleType}}/{{model.user.personId}}"><span
						class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
						Dashboard</a></li>
				<!-- End of dashboard for any user-->

				<!-- -------------- -->
				<!-- Manage Courses -->
				<!-- -------------- -->
				<!-- Join or drop courses for students -->
				<li ng-if="model.user.roleType=='student'"><a
					href="#!/{{model.user.roleType}}/{{model.user.personId}}/course/manage"><span
						class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Enroll
						in Courses</a></li>
				<!-- End of join or drop courses for students -->

				<!-- Join or drop courses for others -->
				<li ng-if="model.user.roleType=='faculty' || model.user.roleType=='administrator'">
					<a
					href="#!/{{model.user.roleType}}/{{model.user.personId}}/course/manage"><span
						class="glyphicon glyphicon-edit" aria-hidden="true"></span> Manage
						Courses</a>
				</li>

				<!-- -------------------------- -->
				<!-- Manage User: Administrator -->
				<!-- -------------------------- -->
				<li ng-if="model.user.roleType=='administrator'"><a
					id="manage-users" role="button" data-toggle="collapse"
					href="!#collapseManageUsers" aria-expanded="false"
					aria-controls="collapseExample"> <span
						class="glyphicon glyphicon-chevron-right"></span> Manage Users
				</a></li>


				<div ng-if="model.user.roleType=='administrator'" class="collapse in" id="collapseManageUsers">
					<div class="list-group msk-list-group">
						<a
							href="#!/{{model.user.roleType}}/{{model.user.personId}}/manage/administrator"
							class="list-group-item"> <span
							class="glyphicon glyphicon-edit"></span> Manage Admins
						</a> <a
							href="#!/{{model.user.roleType}}/{{model.user.personId}}/manage/faculty"
							class="list-group-item"> <span
							class="glyphicon glyphicon-edit"></span> Manage Faculty
						</a> <a
							href="#!/{{model.user.roleType}}/{{model.user.personId}}/manage/student"
							class="list-group-item"> <span
							class="glyphicon glyphicon-edit"></span> Manage Students
						</a>
					</div>
				</div>
				<!-- End of manage users for Admin -->
			</ul>
		</div>
		
		
    <div class="col-sm-8 msk-user-body">
            <div class="notifications-caption">Page Content of {{model.page.name}}</div>
            <div class="notifications-panel">
                <div ng-show="model.errorMessage" class="alert alert-danger"
                     role="alert">
                <span class="glyphicon glyphicon-exclamation-sign msk-msg-glyphicon"
                      aria-hidden="true"></span> <span class="sr-only">Error:</span>
                    {{model.errorMessage}}
                </div>

            <li ng-repeat="w in model.widgets" class="list-group-item">
                <div class="container-fluid">
                    <div class="col-sm-11">
                      <div class="card">
	                    <div class="row">{{w.name}}</div>
	                    <img ng-if="w.widgetType=='imagewidget'" ng-src="{{w.url}}" width="350" height="350" class=" img-responsive"/>
	                    
	                    <div ng-if="w.widgetType=='htmlwidget'">
	                        <p ng-bind-html="w.markupText">
	                        </p>
	                    </div>
	                    
	                    <iframe ng-if="w.widgetType=='videowidget'" width="640" height="480" ng-src="{{model.toYoutube(w.url)}}">
	                      
	                    </iframe>
	                    
	                    <div ng-if="w.widgetType=='googledocwidget'">
	                        <div class="row"><a href="{{w.url}}" target="_blank">Link</a></div>
		                    <iframe width="640" height="480" ng-src="{{w.url}}">
	                          <a target="_parent" href="{{w.url}}"></a>
	                        </iframe>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-1" ng-if="model.user.roleType == 'faculty' || model.user.roleType == 'administrator'">
                        <div class = "btn-group-vertical">
	                        <a class="glyphicon glyphicon-pencil" href="#!/{{model.user.roleType}}/{{model.user.personId}}/course/{{model.params.courseId}}/page/{{model.params.pageId}}/widget/{{w.widgetId}}/edit"></a>&nbsp;</a>
	                        <a  class="glyphicon glyphicon-remove" ng-click="model.deleteWidget(w.widgetId)">&nbsp;</a>
                        </div>
                    </div>
                </div>
            </li> 
            <div class="form-group row">
                <a class="btn btn-primary pull-left left-margin-40"
                           href="#!/{{model.user.roleType}}/{{model.user.personId}}/course/{{model.params.courseId}}/page" style="margin-right:10px;">Back</a>
                <div class="btn-toolbar" ng-if="model.user.roleType == 'faculty' || model.user.roleType == 'administrator'">
	                <div class="btn-group-vertical">           
	                    <a class="btn btn-success pull-right left-margin-40"
	                           href="#!/{{model.user.roleType}}/{{model.user.personId}}/course/{{model.params.courseId}}/page/{{model.params.pageId}}/widget/add/videowidget" style="margin-bottom:10px;">Add Video Widget</a>
	                
	                    <a class="btn btn-success pull-right left-margin-40"
	                           href="#!/{{model.user.roleType}}/{{model.user.personId}}/course/{{model.params.courseId}}/page/{{model.params.pageId}}/widget/add/imagewidget" style="margin-bottom:10px;">Add Image Widget</a>
	                    
	                    <a class="btn btn-success pull-right left-margin-40"
	                           href="#!/{{model.user.roleType}}/{{model.user.personId}}/course/{{model.params.courseId}}/page/{{model.params.pageId}}/widget/add/htmlwidget" style="margin-bottom:10px;">Add HTML Widget</a>
	                    
	                    <a class="btn btn-success pull-right left-margin-40"
	                           href="#!/{{model.user.roleType}}/{{model.user.personId}}/course/{{model.params.courseId}}/page/{{model.params.pageId}}/widget/add/googledocwidget">Add GoogleDoc Widget</a>                                                    
	                 </div>    
                 </div>       
            </div>
                        
        </div>
     </div>
     </div>
 </div>