<nav id="main-navbar" class="navbar navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#myNavbar">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav msk-navbar navbar-capitalized">
                <li><font style="text-align: center; font-size: 17px;">{{model.user.roleType}}
                        Home</font> <br> <font style="text-align: center; font-size: 15px;">Welcome
                        {{model.user.name}}!</font></li>
            </ul>
            <ul class="nav navbar-nav navbar-right msk-navbar">
                <li><a href="#!/user/{{model.params.roleType}}/{{model.params.personId}}/edituser"><span
                        class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        {{model.user.username}}</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-out"
                        aria-hidden="true"></span> logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 hidden-xs msk-dashboard">
            <ul class="nav nav-pills nav-stacked msk-side-bar">
                <!-- Dashboard for any user-->
                <li class="active"><a
                    href="#!/user/{{model.params.roleType}}/{{model.params.personId}}"><span
                        class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
                        Dashboard</a></li>
                <!-- End of dashboard for any user-->

                <!-- -------------- -->
                <!-- Manage Courses -->
                <!-- -------------- -->
                <!-- Join or drop courses for students -->
                <li ng-if="model.params.roleType=='student'"><a
                    href="#!/{{model.params.roleType}}/{{model.params.personId}}/course/manage"><span
                        class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                        Enroll in Courses</a></li>
                <!-- End of join or drop courses for students -->

                <!-- Join or drop courses for others -->
                <li
                    ng-if="model.params.roleType=='faculty' || model.params.roleType=='administrator'">
                    <a
                    href="#!/{{model.params.roleType}}/{{model.params.personId}}/course/manage"><span
                        class="glyphicon glyphicon-edit" aria-hidden="true"></span> Manage
                        Courses</a>
                </li>

                <!-- -------------------------- -->
                <!-- Manage User: Administrator -->
                <!-- -------------------------- -->
                <li ng-if="model.params.roleType=='administrator'"><a
                    id="manage-users" role="button" data-toggle="collapse"
                    href="!#collapseManageUsers" aria-expanded="false"
                    aria-controls="collapseExample"> <span
                        class="glyphicon glyphicon-chevron-right"></span> Manage Users
                </a></li>


                <div ng-if="model.params.roleType=='administrator'"
                    class="collapse in" id="collapseManageUsers">
                    <div class="list-group msk-list-group">
                        <a
                            href="#!/{{model.params.roleType}}/{{model.params.personId}}/manage/administrator"
                            class="list-group-item"> <span
                            class="glyphicon glyphicon-edit"></span> Manage Admins
                        </a> <a
                            href="#!/{{model.params.roleType}}/{{model.params.personId}}/manage/faculty"
                            class="list-group-item"> <span
                            class="glyphicon glyphicon-edit"></span> Manage Faculty
                        </a> <a
                            href="#!/{{model.params.roleType}}/{{model.params.personId}}/manage/student"
                            class="list-group-item"> <span
                            class="glyphicon glyphicon-edit"></span> Manage Students
                        </a>
                    </div>
                </div>
                <!-- End of manage users for Admin -->
            </ul>
        </div>
        <div class="col-sm-8 msk-user-body">
            <div class="notifications-caption">Edit User:
                {{model.user.username}}</div>
            <div class="notifications-panel">
                <div ng-show="model.errorMessage" class="alert alert-danger"
                    role="alert">
                    <span
                        class="glyphicon glyphicon-exclamation-sign msk-msg-glyphicon"
                        aria-hidden="true"></span> <span class="sr-only">Error:</span>
                    {{model.errorMessage}}
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <label>Username:</label>
                    </div>
                    <div class="col-xs-6">
                        <input ng-model="user.username" type="text" id="identifier"
                            disabled class="form-control"
                            placeholder="{{model.user.username}}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <label>Role:</label>
                    </div>
                    <div class="col-xs-6">
                        <input ng-model="user.roleType" type="text" id="identifier"
                            disabled class="form-control"
                            placeholder="{{model.user.roleType}}" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3">
                        <label>Email:</label>
                    </div>
                    <div class="col-xs-6">
                        <input ng-model="user.email" type="text" id="name"
                            class="form-control" placeholder="{{model.user.email}}" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3">
                        <label>Password:</label>
                    </div>
                    <div class="col-xs-6">
                        <input ng-model="user.password" type="password" id="description"
                            class="form-control" placeholder="******" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        <div class="btn-toolbar">
                            <a class="btn btn-danger pull-right left-margin-40"
                                href="#!/user/{{model.params.roleType}}/{{model.params.personId}}">Cancel</a>
                            <a class="btn btn-primary pull-right"
                                ng-click="model.update(user)">Update User</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>